body, html {
    height: 100%;
    margin: 0;
    background-color: #343a40;
    color: white;
}

.card-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 400px;
    background: #424242;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.form-control {
    background-color: #495057;
    border: none;
    color: white; /* Ensure this is a contrasting color */
}

.form-control::placeholder {
    color: #ced4da; /* Lighter placeholder text for visibility */
}

.form-control:focus {
    background-color: #495057;
    border-color: #28a745;
    color: white; /* Maintain text color on focus */
}
.is-invalid,
.is-valid {
    color: white;
}

.btn-primary {
    background-color: #28a745;
    border: none;
}

.btn-primary:hover {
    background-color: #218838;
}

.form-group label {
    color: white;
}