{% extends "admin/change_form.html" %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
    <style>
        .flatpickr-calendar {
            z-index: 10000; /* Ensure the calendar appears above other elements */
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
    <script>
        $(document).ready(function(){
            console.log('Document ready');
            $('.datetimepicker').flatpickr({
                enableTime: true,
                dateFormat: "Y-m-d H:i:S", // Basic format including seconds
                onChange: function(selectedDates, dateStr, instance) {
                    // Calculate timezone offset
                    let offset = new Date().getTimezoneOffset();
                    let timezone = offset !== 0 ? -offset / 60 : 0;
                    let sign = timezone >= 0 ? '+' : '-';
                    let hours = Math.floor(Math.abs(timezone)).toString().padStart(2, '0');
                    let minutes = (Math.abs(timezone) % 1 * 60).toString().padStart(2, '0');
                    // Append the timezone to the datetime string in the format Django expects
                    let datetimeWithTimezone = `${dateStr}${sign}${hours}:${minutes}`;
                    instance.input.value = datetimeWithTimezone; // Update the input field with the formatted datetime string
                    console.log('Updated DateTime with Timezone:', datetimeWithTimezone);
                }
            });
            
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2>Showtime: {{ original.movie.title }} at {{ original.showtime }}</h2>
    <div>
        <h3>Cinema Hall: {{ original.cinema_hall.cinema_type }}</h3>
        <h4>Seats:</h4>
        <table>
            <thead>
                <tr>
                    <th>Seat Label</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody>
                {% for seat in original.seats.all %}
                    <tr>
                        <td>{{ seat.seat_label }}</td>
                        <td>{{ seat.availability }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}