.card-container {
    margin-top: 5%; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
   
}

.card {
    width: 100%;
    max-width: 400px;
    background: #424242; /* Dark gray background for the card */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    color: white; /* White text */
}

.form-control {
    background-color: #495057;
    border: none;
    color: white;
}

.form-control::placeholder {
    color: #ced4da;
}

.form-control:focus {
    background-color: #495057;
    border-color: #007bff;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.form-group label {
    color: white;
}

.hidden-toggles {
  position: relative;
  border-radius: 999em;
  overflow: hidden;

  height: 2.75em;
  width: 20em;

  display: flex;

  > * {
    flex: 0 0 50%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0.125em solid #c89a06;
    border-radius: 999em;
    pointer-events: none;
  }
}

.hidden-toggles__input {
  display: none;

  &:checked + .hidden-toggles__label {
    background-color: #c89a06;
    color: #FFFFFF;

    &:before {
      opacity: 1;
    }

    &:last-of-type {
      background:#c89a06;
    }
  }

  &:nth-of-type(1) + label { order: 2 }
  &:nth-of-type(2) + label { order: 1 }
}

.hidden-toggles__label {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;
  color:#ffffff;

  &:hover {
    color: #c89a06;
  }

  &:nth-of-type(2) {
    border-left:  0.125em  solid #c89a06;
  }
}