.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure it's relatively positioned */
}

.bottom {
    width: 380px;
    height: 655px;
    background-color: #222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.box {
    position: relative;
    width: 99%;
    margin: 0.5% 0;
    background: black;
    padding: 20px;
    border-radius: 10px;

}

.box::before, .box::after, .borderline::before, .borderline::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 382px; /* Ensure full coverage */
    height: 655px; /* Ensure full coverage */
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: -1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::before {
    animation-delay: 0s;
}

.box::after {
    animation-delay: -3s;
}

.borderline::before {
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    animation-delay: -1.5s;
}

.borderline::after {
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    animation-delay: -4.5s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


