{% extends 'index.html' %}

{% block title %}
<title>Sign Up</title>
{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'SignUp.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
<link rel="stylesheet" href="{% static 'css/alertify.css' %}">
{% endblock %}

{% block content %}
<div class="card-container mt-5 mb-5">
    <div class="card bg-dark">
        <h3 class="text-center mb-4">Reset Password</h3>
        
        <!--Display Error Messages-->
        

        <form method="post" action="{% url 'forget_password' %}">
            {% csrf_token %}
            
            <div class="form-group mb-3">
                <label for="uname">Username:</label>
                <input type="text" class="form-control" id="uname" name="uname" required>
            </div>
            
            
            <button type="submit" class="btn btn-outline-light btn-block">Send Reset Link</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var forget_passwordForm = document.querySelector('form');
    forget_passwordForm.addEventListener('submit', function(event) {
        var userEmail = document.getElementById('user_username');

    });
});
</script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>

<script>
    
{% for message in messages %}
    {% if message.tags == 'warning' %}
        alertify.set('notifier', 'position', 'top-right');
        alertify.warning('{{ message|safe }}');
    {% elif message.tags == 'success' %}
        alertify.set('notifier', 'position', 'top-right');
        alertify.success('{{ message|safe }}');
    {% elif message.tags == 'error' %}
        alertify.set('notifier', 'position', 'top-right');
        alertify.error('{{ message|safe }}');
    {% endif %}
{% endfor %}



</script>
{% endblock %}
