<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}

{% endblock %}

{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'index.css' %}">
{% block css %}

{% endblock %}

<style>

    html, body {
        
        height: 100%; /* Full height for the html and body to enable flexbox sizing */
        margin: 0; /* Removes default margin */
    }
    body {
        display: flex; /* Enables flexbox */
        flex-direction: column; /* Stacks elements vertically */
  
    }
    main {
        flex: 1; /* Takes up all available space */
        color: #EDEDED; /* Sets text color */
    }
    .custom-font{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    .logo{
      height: 120%;
      width: 120%;
    }
    .logo-link{
      width: 5%;
    }
    
</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/703ce498ac.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: black" class="custom-font">
<nav class="navbar pt-4 pb-4 navbar-expand-lg navbar-dark sticky-top" style="background-color: black">
  <div class="container-fluid">
    <a class="ms-3 me-5 logo-link" href="{% url 'Home' %}"><img class="logo" src="{% static 'logo.jpg' %}" alt="WatchIt Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav me-3">
        <li class="nav-item mx-3">
          <a class="nav-link text-light" href="{% url 'movie_list' %}"><button class="link">Movies</button></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#nowShowing"><button class="link">Now Showing</button></a>
      </li>
      <li class="nav-item mx-3">
          <a class="nav-link" href="#dealsSection"><button class="link">Our Deals</button></a>
      </li>
      <li class="nav-item mx-3">
          <a class="nav-link" href="#findUs"><button class="link">Find Us</button></a>
      </li>

      {% if request.user.is_authenticated %}
          <li class="nav-item mx-3">
            </li>
        {% else %}
        <li class="nav-item mx-3" id="signup-link">
          <a class="nav-link text-light" href="{% url 'SignUp' %}"><button class="signup">Sign Up Now</button></a>
        </li>
        
        {% endif %}

    </ul>
    <ul class="navbar-nav ms-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item mx-3 ">
                <div class="nav-item dropdown me-5 user">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome, {{ request.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item fw-semibold text-light" href="{% url 'dashboard' %}">Dashboard</a>
                        <a class="dropdown-item fw-semibold text-light" href="{% url 'LogoutUser' %}">Logout</a>
                    </div>
                </div>
              
        {% else %}

        
          <a class="nav-item nav-link text-light me-5 btn btn-danger" href="{% url 'Login' %}"><button class="userLink">Login</button></a>
        </li>
        
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<main>
{% block content %}

{% endblock %}
</main>

<!-- Footer -->
<footer class="footer mt-auto py-5 text-light">
  <div class="container text-left">
      <div class="row">
          <div class="col-md-4 mb-3">
              <h5>Follow Us</h5>
              <a href="#" class="text-light mx-2" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="text-light mx-2" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-light mx-2" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="#" class="text-light mx-2" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="col-md-4 mb-3">
              <h5>Important Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light">About Us</a></li>
                  <li><a href="#" class="text-light">Contact Us</a></li>
                  <li><a href="#" class="text-light">Privacy Policy</a></li>
                  <li><a href="#" class="text-light">Terms of Service</a></li>
              </ul>
          </div>
          <div class="col-md-4 mb-3">
              <h5>Contact Us</h5>
              <p>Email: support@watchit.com</p>
              <p>Phone: (123) 456-7890</p>
              <p>Address: 123 WatchIt Street, MovieTown, MT 56789</p>
          </div>
      </div>
      <div class="row">
          
      </div>
  </div>
  <div class="col-12 mt-3 text-center">
    <span>&copy; 2024 WatchIt. All rights reserved.</span>
</div>
</footer>

<!-- Font Awesome -->


</body>
</html>
