{% extends 'index.html' %}

{% block title %}
<title>Login</title>
{% endblock %}
    {% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Login.css' %}">
    {% endblock %}
  
{% block content %}

    
    <div class="card-container">
        <div class="card bg-dark">
            <h3 class="text-center mb-4">Login</h3>
            {% if error %}
            <div class="alert alert-danger">
            {{ error }}
            </div>
            {% endif %}
            <form method="post" action="{% url 'Login' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="uname">Username:</label>
                    <input type="text" class="form-control" id="uname" name="uname" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" required>
                </div>
                <button type="submit" class="btn btn-outline-light btn-block mt-3">Login</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock %}
