{% extends 'index.html' %}

{% block title %}
<title>Movies</title>
{% endblock %}
    
{% block content %}
<style>
    body {
        background-color: black; /* Medium gray for a lighter dark theme */
        color: #EDEDED; /* Off-white for text, providing higher readability */
        font-family: 'Helvetica Neue', Arial, sans-serif; /* Maintains modern, clean font style */
    }
    h1 {
        color: #FF6347; /* Tomato red for the heading, adds warmth */
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .card {
        background-color: #000; /* Slightly lighter gray than the body background */
        border: none;
        border-radius: 8px; /* Rounded corners for a modern appearance */
    }
    .card-body {
        padding: 20px;
    }
    .card-title {
        color: #FFFFFF; /* White for prominent titles */
        font-weight: bold;
    }
    .card-text {
         /* Light gray for text, for better contrast */
        margin-bottom: 10px;
    }

    .form-select {
        background-color: black; /* Dark gray for dropdown, distinguishing it from the card */
        border: 1px solid white;
        color: #FFFFFF;
    }
    .card-img-top{
        height: 38rem;
    }
</style>


    <h1>Movies</h1>
    <div class="container">
        <form method="get" action="">
            <div class="row mb-5">
                <div class="col">
                    <select name="tag" class="form-select">
                        <option value="">Filter by category</option>
                        {% for tag in tags %}
                        <option value="{{ tag.name }}" 
                        {% if tag.name == selected_tag %}
                        selected
                        {% endif %}>
                            {{ tag.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-light">Filter</button>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            {% for movie in movies %}
            <div class="col-11"> <!-- This will make each movie take full width of its row -->
                <div class="card mb-5 mt-5">
                    {% if movie.image %}
                    <img src="{{ movie.image.url }}" class="card-img-top" alt="{{ movie.title }}">
                    {% else %}
                    <div class="card-header">No Image Available</div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.release_date }}</p>
                        {% if movie.release_date > now %}
                        <p class="card-text"><strong>Coming Soon</strong></p>
                        {% else %}
                        <p class="card-text"><strong>Now Showing</strong></p>
                        {% endif %}
                        {% for showtime in movie.showtimes.all %}
                        {% if showtime.is_future_showtime %}
                        <a href="{% url 'selectTickets' cinema_hall_id=showtime.cinema_hall.id %}" class="btn btn-primary mb-2">
                            Book Now for {{ showtime.showtime|date:"DATE_FORMAT" }}
                        </a>
                        {% else %}
                        <p>Showtime passed</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}