{% extends "dashboard.html" %}

{% block content %}
<style>
    .fixed-image {
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
        position: relative;
    }
    .card {
        border-radius: 15px;
        background: black;
        box-shadow: 0 0 15px rgba(0, 123, 255, 0.5); 
    }
    .card-body {
        display: flex;
        flex-direction: column;
        
    }
    .card-title {
        font-size: 1.25rem;
    }
    .btn-warning {
        background-color: #ffc107;
        border: none;
    }
    .btn-warning:hover {
        background-color: #e0a800;
    }
</style>

{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"> <!-- FontAwesome CSS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'questionmark.css' %}">

<div class="question-mark" onclick="toggleBubbleMessage()">
    <i class="fas fa-question-circle"></i>
    <div id="bubbleMessage" class="bubble-message">
        This page contains your bookings you made in the past. Download receipt if needed.
    </div>
</div>

<script>
    function toggleBubbleMessage() {
        var bubble = document.getElementById('bubbleMessage');
        bubble.style.visibility = (bubble.style.visibility === 'visible') ? 'hidden' : 'visible';
    }
</script>

<div class="container">
    <h1 class="my-4">Your Purchases History</h1>
    <div class="row">
        {% for booking in purchase_histories %}
        <div class="col-md-4 mb-4">
            <div class="card text-white">
 
                <img src="{{ booking.movie.image.url }}" class="card-img-top fixed-image" alt="{{ booking.movie.title }}">
               
                <div class="card-body">
                    <h5 class="card-title">{{ booking.movie.title }}</h5>
                    <p class="card-text"><strong>Cinema Hall:</strong> {{ booking.cinema_hall.cinema_type }}</p>
                    <p class="card-text"><strong>Showtime:</strong> {{ booking.showtime.showtime }}</p>
                    <p class="card-text"><strong>Booking Date:</strong> {{ booking.booking_date }}</p>
                    <p class="card-text"><strong>Seats:</strong> {{ booking.get_seat_labels }}</p>
                    <p class="card-text"><strong>Payment Amount:</strong> ${{ booking.payment_amount }}</p>
                    <p class="text-light"><a href="{% url 'generate_purchase_history' booking.id %}">Download PDF</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
