{% extends 'index.html' %}

{% block title %}
<title>Change Password</title>
{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'SignUp.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
<link rel="stylesheet" href="{% static 'css/alertify.css' %}">
{% endblock %}

{% block content %}
<div class="card-container mt-5 mb-5">
    <div class="card bg-dark">
        <h3 class="text-center mb-4">Change Password</h3>
        
        <!--Display Error Messages-->
        

        <form method="post">
            {% csrf_token %}
            
            <div class="form-group mb-3">
                <label for="pwd">Password :</label>
                <input type="password" class="form-control" id="pwd" name="pwd" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.">
            </div>

            <div class="form-group mb-3">
                <label for="pwd1">Confirm Password :</label>
                <input type="password" class="form-control" id="pwd1" name="pwd1" required>
            </div>
            
            
            <button type="submit" class="btn btn-outline-light btn-block">Reset</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var change_passwordForm = document.querySelector('form');
    change_passwordForm.addEventListener('submit', function(event) {
        var userpwd = document.getElementById('user_userpwd');

    });
});
</script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>

<script>
    
{% for message in messages %}
    {% if message.tags == 'warning' %}
        alertify.set('notifier', 'position', 'top-right');
        alertify.warning('{{ message|safe }}');
    {% elif message.tags == 'success' %}
        alertify.set('notifier', 'position', 'top-right');
        alertify.success('{{ message|safe }}');
    {% elif message.tags == 'error' %}
        alertify.set('notifier', 'position', 'top-right');
        alertify.error('{{ message|safe }}');
    {% endif %}
{% endfor %}



</script>
{% endblock %}
