{% extends 'index.html' %}

{% block title %}
<title>Career Applications</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Career Applications</h3>
    <ul class="list-group">
        {% for application in applications %}
        <li class="list-group-item">
            <h5>{{ application.name }}</h5>
            <a href="{{ application.cv.url }}" target="_blank">View CV</a>
            <a href="{{ application.cover_letter.url }}" target="_blank">View Cover Letter</a>
            <div>
                <a href="{% url 'approve_application' application.id %}" class="btn btn-success">Approve</a>
                <a href="{% url 'reject_application' application.id %}" class="btn btn-danger">Reject</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
