{% extends "admin/change_form.html" %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
    <style>
        /* Additional styles if necessary */
        .flatpickr-calendar {
            z-index: 10000; /* Ensure the calendar appears above other elements */
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
    <script>
        $(document).ready(function(){
            console.log('Document ready');
            $('.datepicker').flatpickr({
                dateFormat: "Y-m-d",
                onReady: function() {
                    console.log('Flatpickr initialized');
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <!-- Custom template is loading -->
{% endblock %}
